---
import Layout from '../layouts/Layout.astro';
import './index.css';
import '../global.css';
import invoice from '../assets/invoice.jpg';
---

<Layout>
  <div class="body-content">
    <div class="hero">
      <div>
        <svg
          viewBox="0 0 137 32"
          fill="none"
          data-v-c18a916c=""
          data-v-1f03a972=""
          class="logo"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16ZM16.8713 11.0102V22.9334H15.1241V11.0102H10.6505V9.49336H21.3449V11.0102H16.8713ZM67 16C67 24.8366 59.8366 32 51 32C42.1634 32 35 24.8366 35 16C35 7.16344 42.1634 0 51 0C59.8366 0 67 7.16344 67 16ZM57.3735 15.68C57.3735 19.7888 55.0887 22.6304 51.0183 22.6304C46.9479 22.6304 44.6439 20.1536 44.6439 15.68C44.6439 11.6096 46.8903 8.72962 51.0183 8.72962C55.0887 8.72962 57.3735 11.6288 57.3735 15.68ZM47.5623 19.6352C48.3111 20.5952 49.5015 21.1328 51.0183 21.1328C52.6119 21.1328 53.6871 20.6336 54.3783 19.6352C55.0503 18.6752 55.4151 17.408 55.4151 15.68C55.4151 13.9328 55.0503 12.704 54.3783 11.744C53.6871 10.7456 52.6119 10.2272 51.0951 10.2272C49.3479 10.2272 48.1959 10.9184 47.6199 11.6672C46.9671 12.5312 46.6023 13.952 46.6023 15.68C46.6023 17.5424 47.0439 18.9632 47.5623 19.6352ZM86 32C94.8366 32 102 24.8366 102 16C102 7.16344 94.8366 0 86 0C77.1634 0 70 7.16344 70 16C70 24.8366 77.1634 32 86 32ZM91.0407 22.4V20.8832H84.0903V8.96003H82.3623V22.4H91.0407ZM137 16C137 24.8366 129.837 32 121 32C112.163 32 105 24.8366 105 16C105 7.16344 112.163 0 121 0C129.837 0 137 7.16344 137 16ZM121.917 8.96003L127.159 22.4H125.335L123.837 18.3872H118.135L116.657 22.4H114.813L120.074 8.96003H121.917ZM120.957 10.6304C120.727 11.3408 120.516 11.9552 120.209 12.8L118.711 16.8512H123.261L121.745 12.8C121.476 12.0896 121.169 11.2064 120.977 10.6304H120.957Z"
            data-v-1f03a972=""></path>
        </svg>
      </div>
      <div class="hero-left">
        <img src={invoice.src} alt="" class="invoice" />
      </div>
      <div class="hero-right">
        <h1>Create beautiful invoices in seconds</h1>
        <div>
          For you to use however you like <br /> Share them as links or export as
          PDF.
        </div>
      </div>
    </div>
    <div class="select-template">
      <button class="flex items-center">
        <div>Select a template</div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="nuxt-icon nuxt-icon--fill icon"
          data-v-c18a916c=""
          ><path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M17.25 8.75v8.5h-8.5M17 17 6.75 6.75"></path></svg
        >
      </button>
    </div>
    <div class="templates">
      <div class="template">
        <div class="template-page"></div>
        <div class="template-label">Mosiac</div>
      </div>
      <div class="template">
        <div class="template-page"></div>

        <div class="template-label">Tango</div>
      </div>
      <div class="template">
        <div class="template-page"></div>

        <div class="template-label">Serif</div>
      </div>
      <div class="template">
        <div class="template-page"></div>

        <div class="template-label">Funkhouse</div>
      </div>
      <div class="template">
        <div class="template-page"></div>

        <div class="template-label">Mini</div>
      </div>
      <div class="template">
        <div class="template-page"></div>

        <div class="template-label">Blok</div>
      </div>
    </div>
    <div class="pay-section">
      <div class="left">
        <h2>Pay & get paid with Tola.</h2>
        <ul>
          <li>
            <span class="material-symbols-outlined"> check_circle </span><div>
              Pay all your bills easily
            </div>
          </li>
          <li>
            <span class="material-symbols-outlined"> check_circle </span><div>
              Send payment links
            </div>
          </li><li>
            <span class="material-symbols-outlined"> check_circle </span><div>
              Take control of your cashflow
            </div>
          </li>
        </ul>
        <div class="grow"></div>
        <button
          ><div>Learn more</div><span class="material-symbols-outlined">
            arrow_right_alt
          </span></button
        >
      </div>
      <div class="right"></div>
    </div>
  </div>

  <script>
    document
      .querySelector('.select-template')
      ?.addEventListener('click', () => {
        document.querySelector('.templates')?.scrollIntoView({
          behavior: 'smooth',
        });
      });
  </script>
</Layout>
